<div>
    <div class="col-md-offset-1 col-md-10 place-an-order">
        <h4>PANEL ADMINISTRACYJNY</h4>
        <div class="row">
            <div class="form-group">
                <div>
                    <button type="button" ng-click="list()" class="btn btn-default">Wyświetl listę kierowców</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div>
                    <button type="button" ng-click="addEmployee()" class="btn btn-default">Dodaj pracownika</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div>
                    <button type="button" ng-click="addBasement()" class="btn btn-default">Dodaj bazę</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div>
                    <button type="button" ng-click="addDriver()" class="btn btn-default">Zarejestruj kierowcę</button>
                </div>
            </div>
        </div>
    </div>
</div>